@import "../../styles/base";

.material-symbols-outlined {

  .primary {
    color: $primary;
  }

  &.on-primary-container {
    color: $on-primary-container;
  }

  &.on-surface-variant {
    color: $on-surface-variant;
  }
}
