.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;

  .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    color: transparent;
    display: block;
    font-size: 1rem;
    line-height: 1.9;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: box-shadow .3s, border .3s;
            transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;

    &:focus,
    &:valid,
    &.form-file,
    &.has-value {
      color: #333;
      border-bottom: 1px solid #337ab7;
      -webkit-box-shadow: 0 1px 0 0 #337ab7;
              box-shadow: 0 1px 0 0 #337ab7;
    }

    &:focus ~ .control-label,
    &:valid ~ .control-label,
    &.form-file ~ .control-label,
    &.has-value ~ .control-label {
      font-size: 0.8rem;
      color: gray;
      top: -1rem;
      left: 0;
    }

    &:focus {
      outline: none;
    }
    &:focus ~ .control-label {
      color: #337ab7;
    }
  }
}


