@import '../../../styles/base';

.search-bar {
  /* search-bar */
  // position: absolute;
  display: inline-flex;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0px;

  background-color: $surface-variant;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid $on-surface-variant;
  padding: 16px;

  &:hover {
    background-color: flat-tint($on-surface, $hover-opacity, $surface-variant);
  }

  .search-bar-content {
    display: inline-flex;
    justify-content: flex-start;
    flex: 1 1 auto;
    order: -1;
  }

  .icon-container {
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }

  .input-container {
    width: 100%;

    input {
      caret-color: $primary;
      color: $on-surface;
      background-color: transparent;
      display: block;
      outline: none;
      border: none;
      padding: 0px;
      min-width: 100%;
      // width: min-content;

      /* ??? */
      font-size: 16px;
      line-height: 24px;

      transition: .1s;

      &::placeholder {
        color: $on-surface-variant;
      }

      &.active {
        transform: translateY(8px);
      }
    }

    label {
      color: $on-surface-variant;
      position: absolute;
      pointer-events: none;
      font-size: 16px;
      line-height: 24px;
      z-index: 1;

      transition: .1s;

      &.active {
        /* label-text */
        position: absolute;
        height: 16px;
        transform: translateY(-8px);

        /* M3/body/small */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        letter-spacing: 0.4px;

        color: $primary;
      }
    }
  }

  .clear-input-container {
    margin-left: 16px;
    border-radius: 12px;

    cursor: pointer;
  }

  &.active {
    border-bottom: 2px solid $primary;
  }
}
