@import "../../../styles/variables.scss";

.profile-nav {
  position: relative;
  display: flex;
  width: fit-content;
  color: black;
  height: 40px;
  margin-bottom: 16px;

  border-radius: 4px;
  gap: 8px;
}

.profile-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

  padding: 8px 8px;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 4px;
  left: 0px;
  height: 32px;
  background-color: rgba(0,0,0,.12);

  border-radius: 4px;

  transition: all 100ms ease-out;
}
