@function flat-tint($fgColor, $fgOpacity, $bgColor: white) {

  $red: $fgOpacity * red($fgColor) + (1 - $fgOpacity) * red($bgColor);
  $green: $fgOpacity * green($fgColor) + (1 - $fgOpacity) * green($bgColor);
  $blue: $fgOpacity * blue($fgColor) + (1 - $fgOpacity) * blue($bgColor);

  @return rgb($red, $green, $blue);
}

@function tint($color, $opacity) {
  @return rgba(red($color), green($color), blue($color), $opacity)
}

// Color Scheme
$clear: rgba(0,0,0,0);

$primary: hsl(30, 100%, 40%);
$on-primary: hsl(30, 100%, 100%);
$primary-container: hsl(30, 100%, 90%);
$on-primary-container: hsl(30, 100%, 10%);

$secondary: hsl(30, 60%, 40%);
$on-secondary: hsl(30, 60%, 100%);
$secondary-container: hsl(30, 60%, 90%);
$on-secondary-container: hsl(30, 60%, 10%);

$tertiary: hsl(354, 31%, 40%);
$on-tertiary: hsl(354, 31%, 100%);
$tertiary-container: hsl(354, 31%, 90%);
$on-tertiary-container: hsl(354, 31%, 10%);

$neutral: hsl(30, 25%, 60%);
$neutral-variant: hsl(20, 15%, 60%);

$background: hsl(30, 25%, 99%);
$on-background: hsl(30, 25%, 10%);

$surface: hsl(30, 25%, 99%);
$on-surface: hsl(30, 25%, 10%);

$surface-variant: hsl(20, 15%, 90%);
$on-surface-variant: hsl(20, 15%, 30%);

$outline: hsl(20, 15%, 50%);


// State layer opacity scales
$hover-opacity: 0.08;
$active-opacity: 0.12;

// Elevation
$inner-shadow: rgba(0,0,0,.3);
$outer-shadow: rgba(0,0,0,.15);
$elevation-level-0: 0px 0px 0px 0px $inner-shadow;
$elevation-level-1: 0px 1px 2px $inner-shadow, 0px 1px 3px 1px $outer-shadow;
$elevation-level-2: 0px 1px 2px $inner-shadow, 0px 2px 6px 2px $outer-shadow;

/* TODO:
  - Update outline and surface layers
  - Add :focus to button states
  - Add grid and container systems
  - Reorganize file structure
*/

$test: rgb(251, 245, 239);
$test-2: #fbf5ef
