@import './base';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;425;450;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1');

* {
  font-family: 'Roboto';
}

body {
  background-color: $surface;
  margin: 0px;
  padding: 0px;
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 400, 'opsz' 24;
  transition: font-variation-settings 200ms cubic-bezier(0.2, 0, 0, 1);
}
