@import './variables';
@import './base';

*,
*:before,
*:after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  width: 100%;
}

.app-content {
  // margin-top: 80px;
  display: block;
  flex-direction: column;
  width: 100%;
  margin-left: 88px;

  // &.open {
  //   margin-left:360px;
  //   width: calc(100% - 360px);
  // }
}

@media only screen and (max-width: 768px) {
  .app-content {
    margin-left: 0px;
    margin-top: 64px;
  }
}
