@import './variables';
@import './base';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $surface;
  margin: 0px;
  padding: 0px;
}

.app-container {
  display: flex;
  width: 100%;
}

.app-content {
  // margin-top: 80px;
  display: block;
  flex-direction: column;
  width: 100%;
  margin-left: 88px;

  // &.open {
  //   margin-left:360px;
  //   width: calc(100% - 360px);
  // }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: tint($on-surface, $hover-opacity);
}
::-webkit-scrollbar-thumb:hover {
  background-color: tint($on-surface, $active-opacity);
}

@media only screen and (max-width: 768px) {
  .app-content {
    margin-left: 0px;
    margin-top: 64px;
  }
}
